@import "./themes/styles/color.css";
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    background-color: var(--background);
}